# ==-----------------------------------------------------------== #
# SPDX-FileCopyrightText: © 2025 Nayan Patil <nayantsg@proton.me>
#
# SPDX-License-Identifier: Apache-2.0
# ==-----------------------------------------------------------== #

# Gradle
/.gradle/
/build/

# Pkl
/dev/**/build/
/dev/**/.out/
/stable/**/build/
/stable/**/.out/
/deprecated/**/build/
/deprecated/**/.out/
/tools/**/build/
/tools/**/.out/

# SBOM
/reuse.spdx
