# ==-----------------------------------------------------------== #
# SPDX-FileCopyrightText: © 2025 Nayan Patil <nayantsg@proton.me>
#
# SPDX-License-Identifier: Apache-2.0
# ==-----------------------------------------------------------== #

# Gradle
/.gradle/
/build/

# Pkl
/.out/
/tools/**/build/
/tools/**/.out/

# SBOM
/reuse.spdx
